<!-- Футер -->
<footer>
    <!-- Нижняя панель -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <div class="copyright">
                    © 2018 - 2026 Все права защищены. ООО "Эвалюция" | ИНН: 1800041336
                </div>
                <div class="footer-nav">
                    <a href="/privacy">Политика конфиденциальности</a>
                    <span class="nav-separator">|</span>
                    <a href="/about/#contact-section">Контакты</a>
                    <span class="nav-separator">|</span>
                    <a href="/about">О нас</a>
                    <span class="nav-separator">|</span>
                    <a href="/doctors">Врачи</a>
                    <span class="nav-separator">|</span>
                    <a href="/prices">Цены</a>
                    <span class="nav-separator">|</span>
                    <a href="/prices">Акции</a>
                    <span class="nav-separator">|</span>
                    <a href="/posts/">Блог</a>
                </div>
            </div>
            <div class="footer-contacts">
                <div class="footer-phones">
                    <span>
                        <a href="tel:88003006103">{{ .Site.Params.phone1 }}</a>
                        <span class="emergency-footer">🚑 Круглосуточно</span>
                    </span>
                    <span>
                        <a href="tel:84955324403">{{ .Site.Params.phone2 }}</a>
                        <span class="emergency-footer">🚑 Экстренная помощь</span>
                    </span>
                </div>
                <div class="footer-addresses">
                    <span>{{ .Site.Params.address }}</span>
                </div>
            </div>
        </div>
    </div>
</footer>

