<!-- Футер -->
<footer>
    <!-- Нижняя панель -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <div class="copyright">
                    © 2018 - 2026 Все права защищены. ООО "Эволюция" | ИНН: 1800041336
                </div>
                <div class="footer-nav">
                    <a href="/privacy/">Политика конфиденциальности</a>
                    <span class="nav-separator">|</span>
                    <a href="/about/#contact-section">Контакты</a>
                    <span class="nav-separator">|</span>
                    <a href="/about">О нас</a>
                    <span class="nav-separator">|</span>
                    <a href="/doctors">Врачи</a>
                    <span class="nav-separator">|</span>
                    <a href="/prices">Цены</a>
                    <span class="nav-separator">|</span>
                    <a href="/prices">Акции</a>
                    <span class="nav-separator">|</span>
                    <a href="/posts/">Блог</a>
                </div>
            </div>
            <div class="footer-contacts">
                <div class="footer-addresses">
                    <span>{{ .Site.Params.address }}</span>
                </div>
            </div>
        </div>
    </div>
</footer>
